// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SatelliteApiApi from "../../../index.js";

export declare namespace AstrodynamicsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Orbital calculations and pass predictions
 */
export class AstrodynamicsClient {
    protected readonly _options: NormalizedClientOptions<AstrodynamicsClient.Options>;

    constructor(options: AstrodynamicsClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Computes the satellite closest to overhead (highest elevation) across all tracked satellites using parallel Rayon propagation.
     *
     * @param {SatelliteApiApi.GetOverheadSatelliteRequest} request
     * @param {AstrodynamicsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SatelliteApiApi.NotFoundError}
     * @throws {@link errors.SatelliteApiApiError}
     * @throws {@link errors.SatelliteApiApiTimeoutError}
     *
     * @example
     *     await client.astrodynamics.getOverheadSatellite({
     *         lat: 1.1,
     *         lon: 1.1
     *     })
     */
    public getOverheadSatellite(
        request: SatelliteApiApi.GetOverheadSatelliteRequest,
        requestOptions?: AstrodynamicsClient.RequestOptions,
    ): core.HttpResponsePromise<SatelliteApiApi.OverheadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOverheadSatellite(request, requestOptions));
    }

    private async __getOverheadSatellite(
        request: SatelliteApiApi.GetOverheadSatelliteRequest,
        requestOptions?: AstrodynamicsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SatelliteApiApi.OverheadResponse>> {
        const { lat, lon, alt, time } = request;
        const _queryParams: Record<string, unknown> = {
            lat,
            lon,
            alt,
            time: time !== undefined ? time : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/astrodynamics/overhead",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SatelliteApiApi.OverheadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SatelliteApiApi.NotFoundError(
                        _response.error.body as SatelliteApiApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SatelliteApiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/astrodynamics/overhead");
    }

    /**
     * Calculates the next visible pass for a specific satellite above elevation threshold.
     *
     * @param {SatelliteApiApi.GetNextVisiblePassRequest} request
     * @param {AstrodynamicsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SatelliteApiApi.NotFoundError}
     * @throws {@link errors.SatelliteApiApiError}
     * @throws {@link errors.SatelliteApiApiTimeoutError}
     *
     * @example
     *     await client.astrodynamics.getNextVisiblePass({
     *         id: "id",
     *         lat: 1.1,
     *         lon: 1.1
     *     })
     */
    public getNextVisiblePass(
        request: SatelliteApiApi.GetNextVisiblePassRequest,
        requestOptions?: AstrodynamicsClient.RequestOptions,
    ): core.HttpResponsePromise<SatelliteApiApi.NextVisiblePassResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getNextVisiblePass(request, requestOptions));
    }

    private async __getNextVisiblePass(
        request: SatelliteApiApi.GetNextVisiblePassRequest,
        requestOptions?: AstrodynamicsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SatelliteApiApi.NextVisiblePassResponse>> {
        const { id, lat, lon, alt, threshold_deg: thresholdDeg } = request;
        const _queryParams: Record<string, unknown> = {
            lat,
            lon,
            alt,
            threshold_deg: thresholdDeg,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/satellites/${core.url.encodePathParam(id)}/next-visible`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SatelliteApiApi.NextVisiblePassResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SatelliteApiApi.NotFoundError(
                        _response.error.body as SatelliteApiApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SatelliteApiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/satellites/{id}/next-visible",
        );
    }
}
