// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SatelliteApiApi from "../../../index.js";

export declare namespace SatellitesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Satellite management endpoints
 */
export class SatellitesClient {
    protected readonly _options: NormalizedClientOptions<SatellitesClient.Options>;

    constructor(options: SatellitesClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Retrieves a paginated list of satellites using base64 checkpoint cursors.
     *
     * @param {SatelliteApiApi.ListSatellitesRequest} request
     * @param {SatellitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.SatelliteApiApiError}
     * @throws {@link errors.SatelliteApiApiTimeoutError}
     *
     * @example
     *     await client.satellites.listSatellites()
     */
    public listSatellites(
        request: SatelliteApiApi.ListSatellitesRequest = {},
        requestOptions?: SatellitesClient.RequestOptions,
    ): core.HttpResponsePromise<SatelliteApiApi.PaginatedResponseSatellite> {
        return core.HttpResponsePromise.fromPromise(this.__listSatellites(request, requestOptions));
    }

    private async __listSatellites(
        request: SatelliteApiApi.ListSatellitesRequest = {},
        requestOptions?: SatellitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<SatelliteApiApi.PaginatedResponseSatellite>> {
        const { limit, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/satellites",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SatelliteApiApi.PaginatedResponseSatellite,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SatelliteApiApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/satellites");
    }

    /**
     * Creates a new satellite record from Two-Line Element (TLE) set data.
     *
     * @param {SatelliteApiApi.CreateSatelliteDto} request
     * @param {SatellitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SatelliteApiApi.BadRequestError}
     * @throws {@link errors.SatelliteApiApiError}
     * @throws {@link errors.SatelliteApiApiTimeoutError}
     *
     * @example
     *     await client.satellites.createSatellite({
     *         lineOne: "lineOne",
     *         lineTwo: "lineTwo",
     *         name: "name"
     *     })
     */
    public createSatellite(
        request: SatelliteApiApi.CreateSatelliteDto,
        requestOptions?: SatellitesClient.RequestOptions,
    ): core.HttpResponsePromise<SatelliteApiApi.Satellite> {
        return core.HttpResponsePromise.fromPromise(this.__createSatellite(request, requestOptions));
    }

    private async __createSatellite(
        request: SatelliteApiApi.CreateSatelliteDto,
        requestOptions?: SatellitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<SatelliteApiApi.Satellite>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/satellites",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SatelliteApiApi.Satellite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SatelliteApiApi.BadRequestError(
                        _response.error.body as SatelliteApiApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SatelliteApiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/satellites");
    }

    /**
     * Retrieves details for a specific satellite by its unique UUID.
     *
     * @param {SatelliteApiApi.GetSatelliteRequest} request
     * @param {SatellitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SatelliteApiApi.NotFoundError}
     * @throws {@link errors.SatelliteApiApiError}
     * @throws {@link errors.SatelliteApiApiTimeoutError}
     *
     * @example
     *     await client.satellites.getSatellite({
     *         id: "id"
     *     })
     */
    public getSatellite(
        request: SatelliteApiApi.GetSatelliteRequest,
        requestOptions?: SatellitesClient.RequestOptions,
    ): core.HttpResponsePromise<SatelliteApiApi.Satellite> {
        return core.HttpResponsePromise.fromPromise(this.__getSatellite(request, requestOptions));
    }

    private async __getSatellite(
        request: SatelliteApiApi.GetSatelliteRequest,
        requestOptions?: SatellitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<SatelliteApiApi.Satellite>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/satellites/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SatelliteApiApi.Satellite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SatelliteApiApi.NotFoundError(
                        _response.error.body as SatelliteApiApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SatelliteApiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/satellites/{id}");
    }

    /**
     * Deletes a satellite record by its unique UUID.
     *
     * @param {SatelliteApiApi.DeleteSatelliteRequest} request
     * @param {SatellitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SatelliteApiApi.NotFoundError}
     * @throws {@link errors.SatelliteApiApiError}
     * @throws {@link errors.SatelliteApiApiTimeoutError}
     *
     * @example
     *     await client.satellites.deleteSatellite({
     *         id: "id"
     *     })
     */
    public deleteSatellite(
        request: SatelliteApiApi.DeleteSatelliteRequest,
        requestOptions?: SatellitesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSatellite(request, requestOptions));
    }

    private async __deleteSatellite(
        request: SatelliteApiApi.DeleteSatelliteRequest,
        requestOptions?: SatellitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/satellites/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SatelliteApiApi.NotFoundError(
                        _response.error.body as SatelliteApiApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SatelliteApiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/satellites/{id}");
    }

    /**
     * Updates a satellite's name or TLE orbital parameters.
     *
     * @param {SatelliteApiApi.UpdateSatelliteDto} request
     * @param {SatellitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SatelliteApiApi.NotFoundError}
     * @throws {@link errors.SatelliteApiApiError}
     * @throws {@link errors.SatelliteApiApiTimeoutError}
     *
     * @example
     *     await client.satellites.updateSatellite({
     *         id: "id"
     *     })
     */
    public updateSatellite(
        request: SatelliteApiApi.UpdateSatelliteDto,
        requestOptions?: SatellitesClient.RequestOptions,
    ): core.HttpResponsePromise<SatelliteApiApi.Satellite> {
        return core.HttpResponsePromise.fromPromise(this.__updateSatellite(request, requestOptions));
    }

    private async __updateSatellite(
        request: SatelliteApiApi.UpdateSatelliteDto,
        requestOptions?: SatellitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<SatelliteApiApi.Satellite>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/satellites/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SatelliteApiApi.Satellite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SatelliteApiApi.NotFoundError(
                        _response.error.body as SatelliteApiApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SatelliteApiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/satellites/{id}");
    }
}
