// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SatelliteApiApi from "../../../index.js";

export declare namespace PipelinesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * CelesTrak automated discovery pipelines
 */
export class PipelinesClient {
    protected readonly _options: NormalizedClientOptions<PipelinesClient.Options>;

    constructor(options: PipelinesClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Triggers automated CelesTrak discovery pipeline synchronization for a specific satellite group.
     *
     * @param {SatelliteApiApi.TriggerPipelineSyncRequest} request
     * @param {PipelinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SatelliteApiApi.InternalServerError}
     * @throws {@link errors.SatelliteApiApiError}
     * @throws {@link errors.SatelliteApiApiTimeoutError}
     *
     * @example
     *     await client.pipelines.triggerPipelineSync()
     */
    public triggerPipelineSync(
        request: SatelliteApiApi.TriggerPipelineSyncRequest = {},
        requestOptions?: PipelinesClient.RequestOptions,
    ): core.HttpResponsePromise<SatelliteApiApi.PipelineSyncResponse> {
        return core.HttpResponsePromise.fromPromise(this.__triggerPipelineSync(request, requestOptions));
    }

    private async __triggerPipelineSync(
        request: SatelliteApiApi.TriggerPipelineSyncRequest = {},
        requestOptions?: PipelinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<SatelliteApiApi.PipelineSyncResponse>> {
        const { group } = request;
        const _queryParams: Record<string, unknown> = {
            group,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/pipelines/sync",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SatelliteApiApi.PipelineSyncResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new SatelliteApiApi.InternalServerError(
                        _response.error.body as SatelliteApiApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SatelliteApiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/pipelines/sync");
    }
}
